@import '../../../../assets/sass/variables/variables.scss';

.background-wrapper{
    background-color: #fbedbe;
    padding: 20px 0;

    .icon-text-wrapper{
        width:100%;
        max-width: 375px;
        margin: auto;
    }

    .icon-wrapper{
        .img-section{
            width:170px;
            margin: auto;
        }

        .img-title{
            font-family: $font-0;
            font-weight: 900;
            font-size: 46px;
            color: #e4763b;
        }

        .img-description{
            font-family: $font-1;
            font-size: 28px;
            margin: auto;
        }

        .col-12{
            &:last-child{
                .icon-text-wrapper{
                    max-width: 800px;
                }
            }
        }
    }
}