@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@font-face {
    src: url('../../../../public/fonts/Biko_Bold.otf');
    font-family: Biko_Bold;
}
@font-face {
    src: url('../../../../public/fonts/Biko_Regular.otf');
    font-family: Biko_Bold_Regular;
}

$font-0: 'Biko_Bold', sans-serif;
$font-1: 'Biko_Bold_Regular', sans-serif;
$font-2:'Lato', sans-serif;