@import '../../assets/sass/variables/variables.scss';

.content-block{
    font-family: $font-1;
    width:100%;

    .content-description{
        p{
            font-family: $font-1;
        }
    }
}