/* CustomArrows.css */
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
  }
  
  .slick-prev {
    left: 10px;
    color: #000;

    &:before{
      color: #000;
    }
  }
  
  .slick-next {
    right: 10px;
    color: #000;

    &:before{
      color: #000;
    }
  }
  