@import '../../../assets/sass/variables/variables.scss';

.side-bar-nav{
    margin:0;
    padding: 0;

    li{
        list-style: none;
        width: 100%;
        max-width: 200px;
    }
}

.banner-text{
    margin-top: 20px;
    h4{
        font-weight: 500;
        font-family: $font-1;
    }
}